<html lang="en">
    <head>
        <title>Hello</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1 class="color">Hello nhé hehe</h1>
    </body>
</html>
